.icon-fab {
    font-size: 300%;
}

.social-icons .social-icon-ig {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon-zap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: 5.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon-zap:hover {
    background-color: forestgreen;
}

.social-icons .social-icon-ig:hover {
    background-color: purple;
}

